<!DOCTYPE html>

<html>
    <head>
        <title>Cs EPi</title>
    </head>
    <body>
        @Html.RenderEPiServerQuickNavigator()
        @Html.FullRefreshPropertiesMetaData()
        <div>
            @RenderBody()
        </div>
    </body>
</html>